.DeviceDivider {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #ffffff1a;
}

.Feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
