// update the content of this file and rename it to 'secrets.h'

#define SECRET_SSID "WIFI_SSID"
#define SECRET_PASS "WIFI_PASSWORD"

#define NAME "NAME"
#define MANUFACTURER "MANUFACTURER"
#define MODEL "MODEL"
#define TYPE "ac"
#define API_TOKEN "API_TOKEN_FROM_PROFILE_PAGE"

#define SERVER_URL "http://SERVER.COM/api/register"
#define MQTT_URL "MQTT-SERVER.COM"