.DeviceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.DeviceDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.DeviceDetailsDivider {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  width: 80%;
  background-color: #ffffff1a;
}
