.DevicesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 0;
}

.RoomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.DevicesDivider {
  margin-top: 40px;
  margin-bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff1a;
}

.FeaturesContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
