name: Docker Image CI

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.MD'
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]
  # To run the workflow manually from the Actions tab
  workflow_dispatch:

env:
  REGISTRY: docker.io
  # github.repository as '<account>/<repo>',
  # but here I have to use 'ks89/<repo name>', because
  # on dockerhub.io I have a personal account called 'ks89', and not 'home-anthill'
  IMAGE_NAME: ks89/${{ github.event.repository.name }}

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      #      - name: Dump GitHub context
      #        id: github_context_step
      #        run: |
      #          echo '${{ toJSON(github) }}'
      #          echo '${{ github.event.repository.name }}'

      #      # Install the cosign tool except on PR
      #      # https://github.com/sigstore/cosign-installer
      #      - name: Install cosign
      #      if: github.event_name != 'pull_request'
      #      uses: sigstore/cosign-installer@f3c664df7af409cb4873aa5068053ba9d61a57b6 #v2.6.0
      #      with:
      #        cosign-release: 'v1.11.0'

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

#      # Sign the resulting Docker image digest except on PRs.
#      # This will only write to the public Rekor transparency log when the Docker
#      # repository is public to avoid leaking data.  If you would like to publish
#      # transparency data even for private images, pass --force to cosign below.
#      # https://github.com/sigstore/cosign
#      - name: Sign the published Docker image
#        if: ${{ github.event_name != 'pull_request' }}
#        env:
#          COSIGN_EXPERIMENTAL: "true"
#        # This step uses the identity token to provision an ephemeral certificate
#        # against the sigstore community Fulcio instance.
#        run: echo "${{ steps.meta.outputs.tags }}" | xargs -I {} cosign sign {}@${{ steps.build-and-push.outputs.digest }}

    # define the outputs of this job to be referenced in other jobs
    outputs:
      image_tag: ${{ steps.meta.outputs.version }}

  run-and-test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ${{ env.IMAGE_NAME }}:${{ needs.build.outputs.image_tag }}
    steps:
      - name: Run tests
        run: |
          cd /app
          ls -la .
          cat Makefile
          make deps
          make test
